# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/

# Virtual environment
.venv/
venv/

# ML artifacts
mlruns/
model_artifacts/*.joblib
model_artifacts/*.pkl

# Secrets
.env
secrets/.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db